.bg-danger {
    background-color: #e74a3b;
}
.bg-warning {
    background-color: #f6c23e;
}
.bg-standard {
    background-color: #4e73df;
}
.bg-info {
    background-color: #36b9cc!important;
}
.clone-url{
    font-size: 10px;
    font-weight: 600;
}
.container-detail{
    height: 600px;
    overflow-y: scroll;
}