.circle {
    background: #456BD9;
    border: 0.1875em solid #456BD9;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
    text-align: center;
    color:#fff;
    font-weight: 900;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .img_avatar{
    width: 100%;
    height: auto;
  }
  .img_ril{
    width: 15px;
  }
  .detail-text{
    text-align: center;
    font-size: 18px;
  }
  .form-control-search {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  /*Medida General phone*/
@media only screen and (max-width: 667px) {
  .form-control-search {
    width: 80%;
  }

}
